<form action="/update_settings" method="post">
<h1>Settings</h1>
<label>squawk every</label>
<select name="count" class="squawk auto">
  <% (1..25).each do |count| %>
  <option <%= "selected" if @settings['count']==count.to_s %> ><%= count%></option>
  <% end %>
</select>

<select name="unit" class="squawk auto">
  <% ['hours', 'minutes', 'seconds'].each do |unit| %>
  <option <%= "selected" if @settings['unit']==unit.to_s %> ><%= unit%></option>
  <% end %>
</select>

<br /><br />

<label>fill mode</label>

<select name="fill_mode" class="squawk auto">
  <option value="always" <%= "selected" if @settings['fill_mode']=="always" %> >always add fill</option>
  <option value="empty" <%= "selected" if @settings['fill_mode']=="empty" %> >when queue is empty</option>
  <option value="never" <%= "selected" if @settings['fill_mode']=="never" %> >never add fill</option>
</select>

<br /><br />

<label>add fill every</label>
<select name="fill_count" class="squawk auto">
  <% (1..25).each do |count| %>
  <option <%= "selected" if @settings['fill_count']==count.to_s %> ><%= count%></option>
  <% end %>
</select>

<select name="fill_unit" class="squawk auto">
  <% ['hours', 'minutes', 'seconds'].each do |unit| %>
  <option <%= "selected" if @settings['fill_unit']==unit.to_s %> ><%= unit%></option>
  <% end %>
</select>
<br />
<br />
<h2>Twitter Account Settings</h2>
<label>Consumer Key</label>
<input type="text" name="consumer_key" class="squawk" value="<%= @settings['consumer_key'] %>">

<label>Consumer Secret</label>
<input type="password" name="consumer_secret" class="squawk" value="<%= @settings['consumer_secret'] %>">

<label>Oauth Token</label>
<input type="text" name="oauth_token" class="squawk" value="<%= @settings['oauth_token'] %>">

<label>Oauth Token Secret</label>
<input type="password" name="oauth_token_secret" class="squawk" value="<%= @settings['oauth_token_secret'] %>">
<br /><br />
<input type="submit" value="save" class="button">
</form>